.wrapper {
  list-style: none;
  box-sizing: border-box;
  padding-left: var(--spacing);
  margin-bottom: -1px;

  &.ghost {
    &.indicator {
      opacity: 1;
      position: relative;
      z-index: 1;
      margin-bottom: -1px;

      .treeItem {
        position: relative;
        padding: 0;
        height: 4px;
        border-color: #2389ff;
        background-color: #56a1f8;

        &:before {
          position: absolute;
          left: -8px;
          top: -4px;
          display: block;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
          border: 1px solid #2389ff;
          background-color: #ffffff;
        }

        > * {
          /* Items are hidden using height and opacity to retain focus */
          opacity: 0;
          height: 0;
        }
      }
    }

    &:not(.indicator) {
      opacity: 0.5;
    }

    .treeItem > * {
      box-shadow: none;
      background-color: transparent;
    }
  }
}

.treeItem {
  --vertical-padding: 0px;

  position: relative;
  display: flex;
  align-items: center;
  padding: var(--vertical-padding) 0px;
  //background-color: #fff;
  //border: 1px solid #dedede;
  color: #222;
  box-sizing: border-box;

  p {
    margin: 6px 0;
  }
}

.text {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

.disableInteraction {
  pointer-events: none;
}

.clone {
  display: inline-block;
  position: relative;
  pointer-events: none;

  &:before {
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #2389ff;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    content: var(--children-count);
  }
}

.disableSelection {
  &.wrapper {
    padding-left: 0 !important;
  }

  .treeItem {
    transform: none !important;
  }

  .text {
    user-select: none;
    -webkit-user-select: none;
  }
}

.handle {
  margin-top: 6px;
  margin-right: 4px;
}

.counter {
  &::before {
    content: var(--counter-content);
  }
}

.bullet {
  margin-left: 3px;
  min-width: 14px;
  &::before {
    content: "•";
  }
}
