body {
  font-family: sans-serif;
  font-size: 20px;
}

body.dragging {
  cursor: grabbing;
}

.debug {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  font-size: 13px;
  word-wrap: none;
  white-space: nowrap;
  height: 100vh;
  overflow: scroll;
  z-index: 10;
}

.draggable.dragging {
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0px 15px 15px 0 rgba(34, 33, 81, 0.25);
}
